<div class="modal-header">
  <h4>DM Screen</h4>
</div>
<div class="modal-body">
  <tabs>
  	<pane heading="Combat">
      <table class="table table-striped table-condesed">
        <caption>Modificatori al tiro per colpire</caption>
        <thead>
          <tr>
            <th>L'attaccante è...</th>
            <th>In mischia</th>
            <th>A distanza</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Abbagliato</td>
            <td>-1</td>
            <td>-1</td>
          </tr>
          <tr>
            <td>Ai fianchi del difensore</td>
            <td>+2</td>
            <td>+0</td>
          </tr>
          <tr>
            <td>In posizione sopraelevata</td>
            <td>+1</td>
            <td>+0</td>
          </tr>
          <tr>
            <td>Intralciato</td>
            <td>-2<sup>1</sup></td>
            <td>-2<sup>1</sup></td>
          </tr>
          <tr>
            <td>Invisibile</td>
            <td>+2<sup>2</sup></td>
            <td>+2<sup>2</sup></td>
          </tr>
          <tr>
            <td>Prono</td>
            <td>-4</td>
            <td>+0<sup>3</sup></td>
          </tr>
          <tr>
            <td>Ristretto in uno spazio</td>
            <td>-4</td>
            <td>-4</td>
          </tr>
          <tr>
            <td>Scosso o spaventato</td>
            <td>-2</td>
            <td>-2</td>
          </tr>
        </tbody>
      </table>
      <ol>
        <li>Un personaggio intralciato subisce inoltre una penalità di -4 alla Destrezza, che può influenzare il suo tiro per colpire.</li>
        <li>Il difensore perde qualsiasi bonus di Destrezza alla CA. Questo bonus non si applica se il bersaglio è accecato.</li>
        <li>Quando l'attaccante è prono non può usare la maggior parte delle armi a distanza, ma può comunque usare una balestra o le shuriken da posizione prona senza alcuna penalità.</li>
      </ol>
      <table class="table table-striped table-condensed">
        <caption>Modificatori alla classe armatura</caption>
        <thead>
          <tr>
            <th>Il difensore è...</th>
            <th>In mischia</th>
            <th>A distanza</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Accecato</td>
            <td>-2<sup>1</sup></td>
            <td>-2<sup>1</sup></td>
          </tr>
          <tr>
            <td>Colto alla sprovvista (come sorpreso, in equilibrio o in scalata)</td>
            <td>+0<sup>1</sup></td>
            <td>+0<sup>1</sup></td>
          </tr>
          <tr>
            <td>Immobilizzato</td>
            <td>-4<sup>2</sup></td>
            <td>+0<sup>2</sup></td>
          </tr>
          <tr>
            <td>In ginocchio o seduto</td>
            <td>-2</td>
            <td>+2</td>
          </tr>
          <tr>
            <td>In lotta (ma l'attaccante non lo è)</td>
            <td>+0<sup>1</sup></td>
            <td>+0<sup>1,3</sup></td>
          </tr>
          <tr>
            <td>Indifeso</td>
            <td>-4<sup>2</sup></td>
            <td>+0<sup>2</sup></td>
          </tr>
          <tr>
            <td>Intralciato</td>
            <td>+0<sup>4</sup></td>
            <td>+0<sup>4</sup></td>
          </tr>
          <tr>
            <td>Occultamento Parziale</td>
            <td colspan="2">20% di mancare</td>
          </tr>
          <tr>
            <td>Occultato o invisibile</td>
            <td colspan="2">50% di mancare</td>
          </tr>
          <tr>
            <td>Oltre una copertura</td>
            <td>+4</td>
            <td>+4</td>
          </tr>
          <tr>
            <td>Prono</td>
            <td>-4</td>
            <td>+4</td>
          </tr>
          <tr>
            <td>Ristretto in uno spazio</td>
            <td>-4</td>
            <td>-4</td>
          </tr>
          <tr>
            <td>Stordito</td>
            <td>-2<sup>1</sup></td>
            <td>-2<sup>1</sup></td>
          </tr>
          <tr>
            <td>Tremante</td>
            <td>-2<sup>1</sup></td>
            <td>-2<sup>1</sup></td>
          </tr>
        </tbody>
      </table>
      <ol>
        <li>Il difensore perde qualsiasi bonus di Destrezza alla CA.</li>
        <li>Si consideri la Destrezza del difensore uguale a 0 (modificatore di -5).<br>
        I ladri possono portare attacchi furtivi contro difensori indifesi o immobilizzati.</li>
        <li>Si effettui un tiro casuale per vedere quale combattente in lotta viene colpito.</li>
        <li>Un personaggio intralciato subisce una penalità di -4 alla Destrezza.</li>
      </ol>
    </pane>
  	<pane heading="Skill"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quaerat, omnis, inventore quisquam iusto velit dicta facere libero id cum quas laudantium ex odit beatae dolorum labore iste quod nulla.</div>
  	<div>Numquam, ipsa, suscipit officiis magnam dolores veniam temporibus quidem corporis eveniet libero illo enim sint repellat animi sit autem cupiditate iure a nobis possimus commodi rerum officia nulla delectus voluptas?</div>
  	<div>Placeat, rerum, molestiae consequatur voluptates recusandae quibusdam non. Recusandae, tempora, cumque molestiae dolores dolorem officia omnis a distinctio unde officiis aut accusantium quae doloribus. Nemo, et culpa eos rem nulla!</div>
  	<div>Vel, esse, maxime adipisci totam facilis quod assumenda vitae magnam veniam voluptate suscipit aut fugiat sint illum est perspiciatis quibusdam provident a. Asperiores, expedita consequatur enim repellendus facere eligendi a.</div></pane>
  	<pane heading="Casting"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, quaerat, facere, quas voluptatem dolorum dolorem excepturi quidem placeat veritatis in dolore accusamus ex repudiandae quisquam impedit magni ab reiciendis magnam.</div>
  	<div>Provident, deleniti culpa quibusdam doloremque tempore perspiciatis fugiat eos quia eligendi ipsa. Rerum, vel, nisi reiciendis illum ipsum harum adipisci culpa mollitia quos molestiae rem praesentium obcaecati! Est, pariatur, neque.</div>
  	<div>Tenetur, totam, quas, obcaecati, autem asperiores consectetur voluptate velit ullam harum saepe officiis consequatur fuga ad corrupti in iure neque quidem id minus aspernatur nobis distinctio dignissimos deserunt numquam a.</div>
  	<div>Ut, possimus, in, molestiae laudantium sit illum cupiditate distinctio quos magnam suscipit quidem aut voluptatum quaerat sequi omnis dignissimos iure ipsum at nihil ipsam. Necessitatibus, dolorem optio nostrum incidunt molestiae.</div></pane>
  </tabs>
</div>
<div class="modal-footer">
  <button class="btn btn-warning cancel" ng-click="closeDMScreen()">Chiudi</button>
</div>