<div class="modal-header">
  <h4>DM Screen</h4>
</div>
<div class="modal-body">
  <tabs>
  	<pane heading="Combat"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, debitis, ab, assumenda ad beatae nostrum consequuntur blanditiis ipsa optio iste facilis rem quos error sed aut animi molestiae tempora quibusdam!</div>
  	<div>Natus, enim, ipsa tempora deleniti distinctio consequuntur fugiat quisquam illum laudantium rem nesciunt laborum corrupti provident odit officia praesentium voluptatum explicabo quis molestiae sunt incidunt culpa eveniet earum omnis recusandae.</div>
  	<div>Quidem, dolorum, a quia accusamus quisquam necessitatibus veniam assumenda quod impedit odio fugit voluptatum animi iusto sunt ex dolor deserunt culpa repudiandae temporibus excepturi fugiat? Incidunt amet perspiciatis maxime fugiat.</div>
  	<div>Ipsa, quibusdam, sed, aliquam, consequuntur repudiandae at fuga maiores ducimus vitae quos alias ut tempora. Fugit, ipsa soluta architecto porro minus quam est incidunt eveniet quae ratione sint repellat voluptate.</div></pane>
  	<pane heading="Skill"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quaerat, omnis, inventore quisquam iusto velit dicta facere libero id cum quas laudantium ex odit beatae dolorum labore iste quod nulla.</div>
  	<div>Numquam, ipsa, suscipit officiis magnam dolores veniam temporibus quidem corporis eveniet libero illo enim sint repellat animi sit autem cupiditate iure a nobis possimus commodi rerum officia nulla delectus voluptas?</div>
  	<div>Placeat, rerum, molestiae consequatur voluptates recusandae quibusdam non. Recusandae, tempora, cumque molestiae dolores dolorem officia omnis a distinctio unde officiis aut accusantium quae doloribus. Nemo, et culpa eos rem nulla!</div>
  	<div>Vel, esse, maxime adipisci totam facilis quod assumenda vitae magnam veniam voluptate suscipit aut fugiat sint illum est perspiciatis quibusdam provident a. Asperiores, expedita consequatur enim repellendus facere eligendi a.</div></pane>
  	<pane heading="Casting"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, quaerat, facere, quas voluptatem dolorum dolorem excepturi quidem placeat veritatis in dolore accusamus ex repudiandae quisquam impedit magni ab reiciendis magnam.</div>
  	<div>Provident, deleniti culpa quibusdam doloremque tempore perspiciatis fugiat eos quia eligendi ipsa. Rerum, vel, nisi reiciendis illum ipsum harum adipisci culpa mollitia quos molestiae rem praesentium obcaecati! Est, pariatur, neque.</div>
  	<div>Tenetur, totam, quas, obcaecati, autem asperiores consectetur voluptate velit ullam harum saepe officiis consequatur fuga ad corrupti in iure neque quidem id minus aspernatur nobis distinctio dignissimos deserunt numquam a.</div>
  	<div>Ut, possimus, in, molestiae laudantium sit illum cupiditate distinctio quos magnam suscipit quidem aut voluptatum quaerat sequi omnis dignissimos iure ipsum at nihil ipsam. Necessitatibus, dolorem optio nostrum incidunt molestiae.</div></pane>
  </tabs>
</div>
<div class="modal-footer">
  <button class="btn btn-warning cancel" ng-click="closeDMScreen()">Chiudi</button>
</div>